.App{
  display: flex ;
  height:100%;
  width:100%;
  min-height: 100vh;

}

.Toc{
  flex-direction: row;
  flex:0.2;
  background-color: #000000   ;
  
}

.Content{
  flex-direction: row;
  flex:0.79;
  background-image: linear-gradient(270deg, #5D4954 0%, #FFA69E 100%);
}

.WhiteSpace{
  flex:0.01;
  background-image: linear-gradient(to top right, white, #afffff)
}
