 
.ScrollableDiv{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; 
    height:400px;
    width:200px;
    background-color: #5D4954;
    overflow: hidden;
    overflow-y: scroll;
    
  }
  .ScrollableElement{
   
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(223, 146, 31);
    width:80%;
    font-size: 20px;
    min-height: 10vh;
    border:2px solid black ;
    margin:1rem;
  }
  
  ::-webkit-scrollbar{
    width:6px;
  }
  ::-webkit-scrollbar-track{
    background-color: white;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(219,69,219,0.8);
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgba(29,17,138,0.6);
  }
  